* {
	margin: 0px; /* Margin applies empty space around elements, kind of like indenting. This sets the margin size of all the pages elements to 0 pixels. */
	padding: 0px; 
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
    background-image: url("/pre-assessment/assets/img/bg-tile.jpg"); /* Sets the background image to bg-tile.png located in the assets/img subfolder. */
    background-repeat: repeat-x; /* Sets the tiling of the background image to only repeat along the x-axis. */
	font-size: 16px;
	line-height: 1.5em;
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}
#header {
    display: block;
    width: 800px;
    height: 140px;
    background: url("../img/assessment-header.jpg") no-repeat;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#header a {
    display: block;
    width: 800px;
    height: 140px;
}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}
#content .alert {
    background-color:#FF0000;
    color: #FFFFFF;
}
#content h2 { /* Hey Thomas! */
    color:#B5470C;
    padding-bottom: 10px;
}
#content h3 {
    color:#F98329;
    padding-bottom: 5px;
}
#content h4 {
    color:#263B96;
    font-style:italic;
}
#content p a {
    color:#00ADE6;
}
#content p a:hover {
    background-color:#263B96;
}
#content img {
    float: right;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    margin: 60px 275px 0 5px;
}
#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
#footer h6 a {
    color:#00ADE6;
}
dl {
    padding: 1.00em;
}
dt {
    margin-left: 1.00em;
}
dfn {
    font-weight: bold;
}
dd {
    margin-left: 3.00em;
    margin-bottom: 1.00em;
}
