/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
  background-image: url("/flexible-grid/assets/img/grid.png"); /* 1220px width, 8 col */
  background-size: contain;
  width:80vw;
  margin: 20px auto;
  border: 1px solid #000;  
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

header.primary {
  /* width:1180px; */
  background: rgba(4, 95, 117, 0.4);
  grid-column: 1 / 9;
  grid-row: 1 / 2;
}

footer.primary {
  background: rgba(4, 95, 117, 0.4);
  grid-column: 1 / 9;
  grid-row: 3 / 4;
}

#content {
  grid-column: 1 / 9;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

#blog{
/* width:730px; */
  background: rgba(2, 25, 77, 0.6);
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}

aside {
  /* width: 430px; */
  background: rgba(4, 35, 173, 0.3);
  grid-column: 6 / 9;
  grid-row: 2 / 3;
}